body {
    margin: 0px;
}

ul.horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    min-width: 1000px;
    width: 100%;
    text-align: center;
    height: 52px;
}

ul.horizontal li{
    float: left;
    display: inline-block;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    width: 250px;
}

.health {
    background-color: #50C75D;
}

.enemyHealth {
    background-color: #FF596D;
}

.money {
    background-color: #4E9599;
}

li img {
    height: 35px;
    position: relative;
    left: -15px;
    margin-bottom: -5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#menuWrapper {
    position: fixed;
    width: 0px;
    height: 0px;
}

.shipConf {
    width: 270px;
    max-height: 0px;
    position: relative;
    margin-top: -200px;
    margin-left: -10px;
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;
    overflow:hidden;
    color: black;
}

.shipConf *{
    text-align: left;
    padding: 0px 0px 0px 10px;
    margin: 0px;
}

.menu_selection * {
    border:3px solid black;
    padding: 2px;
    background-color: #fff;
    width: 35px;
    height: 35px;
}

.menu_selection .active {
    border:3px solid red;    
}